.content {
  height: 100%;
  width: 100%;

  position: relative;
  display: table;

}

.canvas {
  display: block;
  height: 100%;
}


.djs-shape.highlight .djs-outline {
  stroke: yellow !important;
  stroke-width: 10px;
  fill: yellow;
}

.djs-container {
  overflow: hidden;
}


/**
 * drag and drop
 */

.drop-marker {
  border: dashed 5px #CCC;
  border-radius: 20px;

  position: absolute;
  left: 20px;
  top: 20px;
  right: 20px;
  bottom: 20px;
}

.di-container .drop-marker,
.di-container.dropping :not(.drop-marker) {
  display: none;
}

.dropping .drop-marker {
  display: block;
}

/**
 * change details
 */
.changeDetails table {
  border: 2px solid orange;
  width: 300px;
  background-color: #fff;
}

.changeDetails th {
  text-align: left;
}


/**
 * markers
 */
.marker {
  border-radius: 50%;
  background-color: gray;
  color: white;
  font-weight: bold;
  font-size: 150%;
  padding-right: 6px;
  padding-left: 6px;
}

.marker-changed {
  font-size: 130%;
  padding: 2px 5px;
}

.marker-layout-changed {
  font-size: 120%;
  padding: 2px 4px;
}


/**
 * changes overview
 */
#changes-overview {
  position: absolute;
  left: 25%;
  right: 25%;
  bottom: 0;
  height: 40%;

  color: #666;

  padding-top: 40px;
  z-index: 110;
}

#changes-overview.collapsed {
  height: 45px;
}

#changes-overview .changes {
  padding: 20px;
  border-radius: 2px 0;

  position: relative;
  height: 100%;
  overflow-y: auto;
}

#changes-overview table {
  text-align: left;
  width: 100%;
  height: 100%;

  border-collapse: collapse;
}

#changes-overview table tr {
  line-height: 30px;
}

#changes-overview thead tr {
  border-bottom: solid 1px #999;
}

#changes-overview .entry:hover {
  background-color: #EEE;
  cursor: pointer;
}

#changes-overview .status {
  font-weight: bold;
  color: #F9F9F9;

  padding: 0 5px;
  display: inline-block;
  white-space: nowrap;

  line-height: 20px
}

#changes-overview .entry.removed .status {
  background-color: red;
}

#changes-overview .entry.added .status {
  background-color: green;
}

#changes-overview .entry.changed .status {
  background-color: orange;
}

#changes-overview .entry.layout-changed .status {
  background-color: blue;
}

#changes-overview .show-hide-toggle {
  margin: 0 0 0 auto;
  padding: 5px 10px;
  height: 40px;
  cursor: pointer;
  background: #F0F0F0;
  display: inline-block;
  line-height: 30px;

  position: absolute;
  right: 20px;
  top: 0;

  border-radius: 5px 5px 0 0;
  cursor: pointer;
}

#changes-overview .show-hide-toggle:hover {
  background: #CCC;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;

  height: 100%;
  width: 100%;
  position: relative;

  border-collapse: collapse;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.item1 {
  grid-column: 1 / span 3;
  grid-row: 2;
  height: 300px;
}


.item2 {
  grid-column: 1 / span 3;
  grid-row: 3/span 2;
  height: 300px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

 .background-image {
  background-image: url("C:/Users/User/Documents/university/4th year/kursavaya/cyber-3400789__340.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.background-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.box {
  width: 600px;
  height: 500px;  
  padding: 50px;
  margin-left: 400px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
